<div #typeaheadWrapper class="input-group my-2">

  <input #typeahead type="text" class="form-control" placeholder="Connect with..." [editable]="false" [(ngModel)]="selectedItem"
    [ngbTypeahead]="searchSibling" [inputFormatter]="formatter" [resultTemplate]="selectItemView" (keydown.esc)="dismissValue()">


  <div class="input-group-append" *ngIf="typeahead.value.length > 0">
    <button class="btn btn-secondary" type="button" (click)="dismissValue()">
      <span class="fa fa-times"></span>
    </button>
  </div>

  <div class="input-group-append" *ngIf="selectedItem">
    <button class="btn btn-primary" type="button" (click)="emitSelectedItem()">
      <span class="fa fa-check"></span>
    </button>
  </div>


</div>

<ng-template #selectItemView let-r="result" let-t="term">
  {{r.name}} - {{ r.translation}}
</ng-template>

