<div class="container mt-4 mb-3">
  <div class="list-group 	mb-5">
		<ng-container *ngIf="topicWordList | async; let words; else loading">
			<a *ngFor="let word of words" (click)="openContextMenu(word)" class="list-group-item list-group-item-action justify-content-between">

				<div class="flex-column align-items-start">
					<div>
              <p class="mb-1 word-name">{{word.name}} </p>
          </div>
          <small>{{word.translation}}</small>
				</div>
				<span class="badge badge-default badge-pill">{{word.siblingsCount}}</span>
			</a>
		</ng-container>
		<ng-template #loading>
			<div class="progress">
				<div class="progress-bar bg-primary" role="progressbar" style="width: 100%">Loading...</div>
			</div>
		</ng-template>
	</div>
	<grn-context-menu [content]="contextMenuContent" (selected)="selectedItem($event)"></grn-context-menu>
	<grn-scroll-top></grn-scroll-top>
</div>
