<div class="container mt-4 mb-3">
    <div class="mb-5">
        <button class="btn btn-outline-success" routerLink="/word/new">Create Word</button>
    </div>

    <grn-search-nav text="" (textChanged)="onSerchText($event)"></grn-search-nav>

    <div class="list-group mb-5">

        <grn-inifinity [pageNumber]="pageNumber" [pageable]="pageable" [body]="body" [clear]="clear">

            <ng-template #body let-words="items" let-loadingNext="loadingNext">
                <a *ngFor="let word of words" (click)="openContextMenu(word)"
                    class="list-group-item list-group-item-action justify-content-between">
                    <div class="flex-column align-items-start">
                        <div>
                            <p class="mb-1 mr-1 word-name">{{word.name}}</p>
                        </div>                        
                        <small>{{word.translation}}</small>
                    </div>
                    <span class="badge badge-default badge-pill">{{word.siblingsCount}}</span>
                </a>
                <div class="progress" *ngIf="loadingNext">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%">Please wait...</div>
                </div>
            </ng-template>

        </grn-inifinity>

    </div>
    <grn-context-menu [content]="contextMenuContent" (selected)="selectedItem($event)"></grn-context-menu>
    <grn-scroll-top></grn-scroll-top>
    
</div>