<div class="container mt-4 mb-3">

    <div class="row">
        <div class="col-md-8">
            <div [hidden]="!errorMessage" class="m-2">
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>
            <div [hidden]="!error403" class="alert alert-danger mt-4">You are not authorized to access the page.
            </div>
        </div>
    </div>
    
</div>