<div class="modal-body">
	<nav class="nav flex-column bg-faded">

		<div class="node-stick p-2 px-4 ">
			<span class="font-weight-bold">{{node.name}}</span>
			<small class="px-2">{{node.translation}}</small>
		</div>

		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('VIEW')">
			<i class="fa fa-pencil fa-fw"></i>View</a>
<!-- 
      <a class="nav-link" data-dismiss="modal" (click)="activeModal.close('MAP')">
			<i class="fa fa-map-o fa-fw"></i>Location on Map</a>
 -->
    </nav>
</div>