<grn-graph-widget [graphContext]="graphContext" (selectedNode)="onSelectedNode($event)"></grn-graph-widget>

<grn-context-menu [content]="contextMenuContent" (selected)="selectedItem($event)"></grn-context-menu>
