<div class="container mt-4 mb-3">
    <div class="container">
      <!-- has-success -->
      <form [formGroup]="namespaceForm" (ngSubmit)="onSubmit()">
        <div class="form-group row" [class.has-warning]="formErrors.name">
          <label for="name" class="col-sm-2 col-form-label small">Name</label>
          <div class="col-sm-10">
            <input formControlName="name" type="text" class="form-control form-control-success" id="name">
            <div class="form-control-feedback small" *ngIf="formErrors.name">{{formErrors.name}}</div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <button type="reset" class="btn" (click)="onCancel()">Cancel</button>
            <button type="submit" class="btn btn-outline-primary ml-2" [disabled]="!namespaceForm.valid || namespaceForm.pristine">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  