<div class="modal-body">
	<nav class="nav flex-column bg-faded">
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('VIEW')">
			<i class="fa fa-pencil fa-fw"></i>View</a>
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('GRAPH')">
			<i class="fa fa-code-fork fa-fw"></i>Siblings Graph</a>
<!-- 
      <a class="nav-link" data-dismiss="modal" (click)="activeModal.close('MAP')">
			<i class="fa fa-map-o fa-fw"></i>Location on Map</a>
	 -->
	</nav>
</div>