<div class="container mt-4 mb-3" *ngIf="userPreference | async; let userPreference">

  <div class="list-group 	mb-5">

    <grn-inifinity [pageNumber]="pageNumber" [pageable]="pageable" [body]="body">
      <ng-template #body let-topics="items" let-loadingNext="loadingNext">

        <ul class="list-group">
          <li *ngFor="let topic of topics" (click)="openContextMenu(topic)"
            class="list-group-item d-flex justify-content-between align-items-center">
            <ng-container *ngFor="let wordName of topic.wordsNames; last as isLast">
              {{ wordName }}<ng-container *ngIf="!isLast">,</ng-container>
            </ng-container>
            <span class="">{{topic.size}}</span>
          </li>
        </ul>

        <div class="progress" *ngIf="loadingNext">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 100%">Please wait...</div>
        </div>
      </ng-template>
    </grn-inifinity>

  </div>

  <grn-context-menu [content]="contextMenuContent" (selected)="selectedItem($event)"></grn-context-menu>
  <grn-scroll-top></grn-scroll-top>
</div>