
svg#graph {
    width: calc(100vw);
    height: calc(100vh - 64px);
}

.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

#licensing {
    fill: green;
}

.link.licensing {
    stroke: green;
}

.link.resolved {
    stroke-dasharray: 0,2 1;
}

circle.node {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.2px;
}

circle.nodeSelected {
    fill: #8BB161;
    stroke: #333;
    stroke-width: 1.2px;
}

circle.nodeParent {
    fill: #81BAEC;
    stroke: #333;
    stroke-width: 1.2px;
}

circle.origin {
    fill: none;
    stroke: #ff3e0e;
    stroke-width: 2.2px;
}

rect.bounding-rect {
    fill: #333;
    stroke-width: 1px;
    opacity: 0.08;
}

text {
    font: 20px sans-serif;
    font-weight: 300;
    pointer-events: none;
    text-shadow: 0 1px 0 #b6b6b6, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
