<div class="container mt-4 mb-3">

    <div class="card mt-3" *ngIf="isEditMode && accountInfo | async as accountInfo">
        <div class="card-header">
            Account Info
            <small class="float-right"> Id: <b>{{accountInfo.id}}</b> </small>
        </div>
        <div class="card-body card-text">
            <form [formGroup]="accountInfoForm" (ngSubmit)="onSubmit()">

                <div class="form-group row" [class.has-warning]="formErrors.namespace">
                    <label for="namespaceInput" class="col-sm-2 col-form-label col-form-label">Namespace :</label>
                    <div class="col-sm-10">
                        <select id="namespaceInput" class="form-control" formControlName="namespace" [compareWith]="equalNamespaces">
                            <option value="" disabled>Select ...</option>
                            <option *ngFor="let namespaceOpt of namespaces | async" [ngValue]="namespaceOpt">{{namespaceOpt.name}}</option>
                        </select>
                        <div class="form-control-feedback small" *ngIf="formErrors.namespace">{{formErrors.namespace}}</div>
                    </div>
                </div>

                <div class="form-group row mt-4 mb-0">
                    <div class="col">
                        <button class="btn btn-outline-danger" type="reset" (click)="onCancel()">Cancel</button>
                        <button class="btn btn-outline-success ml-2" type="submit" [disabled]="!accountInfoForm.valid || accountInfoForm.pristine">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card mt-3" *ngIf="!isEditMode && accountInfo | async as accountInfo">
        <div class="card-header">Account Info
            <small class="float-right"> Id: <b>{{accountInfo.id}}</b> </small>
        </div>
        <div class="card-body card-text" *ngIf="userPreference | async as userPreference">
            <p class="m-0"> Login : </p>
            <p class="info-data">{{accountInfo.login}}</p>
            <p class="m-0"> Email : </p>
            <p class="info-data">{{accountInfo.email}}</p>
            <p class="m-0"> Namespace : </p>
            <p class="info-data">{{userPreference.namespace.name}}</p>
            <p class="mt-4 mb-0"><a class="btn btn-outline-primary" (click)="onEdit($event)">Edit</a></p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">Statistics</div>
        <div class="card-body">
            <p class="card-text"> Namespaces count: <b class="stat-number">4</b> </p>
            <p class="card-text"> Total words count : <b class="stat-number">232</b> </p>
        </div>
    </div>


    <div class="card mt-4" >
        <div class="card-header">Dropbox account:</div>
        <div class="card-body">
            <p class="card-text" *ngIf="dbxAccessToken | async as accessToken">
                <ng-container *ngIf="!accessToken.valid">
                    <p class="alert alert-success" role="alert">Connect your personal Dropbox account so this will enable saving images for each item word.</p>
                    <a class="btn btn-success" (click)="onConnect()">Connnect</a>
                </ng-container>
                <ng-container *ngIf="accessToken.valid">
                    <div class="alert alert-success" role="alert">Your account is connected with Dropbox service.</div>
                    <a class="btn btn-outline-danger" routerLink="/sync">Sync Account</a>
                    <a class="btn btn-outline-danger ml-3" (click)="onDisconnect()">Disonnnect</a>
                </ng-container>
              </p>
        </div>
    </div>
</div>