<div class="container mt-4 mb-3">

  <div class="card mt-4" *ngIf="dbxAccessToken | async as accessToken">
    <div class="card-body">

      <ng-container *ngIf="accessToken.valid && !inprogress">
        <p class="card-text">
          <div class="alert alert-success" role="alert">Synchronize all shared files associated with words from previous
            DropBox account.</div>
          <a class="btn btn-outline-danger" (click)="onStart()">Start Sync</a>
        </p>

      </ng-container>
      <ng-container *ngIf="response | async as response">
        <p class="card-text">
          <div class="alert alert-warning" role="alert">{{ response }}</div>
        </p>
      </ng-container>
    </div>
  </div>
</div>