<div class="container mt-4">

    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-6">
            <h4 class="modal-title">Sign in</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6" *ngIf="authenticationError">
            <div class="alert alert-danger">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-12 col-md-6">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Your username" [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your password" [(ngModel)]="password">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                                <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                                <span>Remember me</span>
                            </label>
                </div>
                <button type="submit" class="btn btn-primary main-btn">Sign in</button>
            </form>
            <p></p>
        </div>

    </div>    
</div>