

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 100%;
    }
}


.modal {
    &.fade {
        .modal-dialog {
            position: fixed;
            bottom: 0;
            width: 100%;
            margin: auto;
        
            animation: fade-up 0.45s ;

            .modal-content {
                border: 0px;
                border-radius: 0px;
            }

            .modal-body {
                padding: 0px;
            }
        }
    }       
}


@keyframes fade-up {
    0% {
        transform: translate(0, 100%);
        opacity: 0;
    }
    100% {
        // transform: translate(0, 0px);            
    }
}

