<div class="modal-body">
	<nav class="nav flex-column bg-faded">
		<div class="node-stick p-2 px-4 ">
			<span class="font-weight-bold">{{word.name}}</span>
			<small class="mr-2"> {{word.translation}} </small>
		</div>
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('VIEW')">
			<i class="fa fa-pencil fa-fw"></i>View</a>
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('GRAPH')" *ngIf="word.topic">
			<i class="fa fa-code-fork fa-fw"></i>Siblings Graph</a>
	</nav>
</div>