<div class="modal-body">
	<nav class="nav flex-column bg-faded">
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('EDIT')">
			<i class="fa fa-pencil fa-fw"></i>Edit</a>
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('SELECT')">
			<i class="fa fa-pencil fa-fw"></i>Select</a>
	</nav>
</div>