<div class="container mt-4 mb-3" *ngIf="userPreference | async; let userPreference">
	<div class="mb-5">
		<button class="btn btn-outline-success" routerLink="/namespace/new">Create Namespace</button>
	</div>
		
	<div class="list-group 	mb-5">
		<ng-container *ngIf="userNamespaces | async; let userNamespaces; else loading">
      <ul class="list-group">
          <li  *ngFor="let namespace of userNamespaces" (click)="openContextMenu(namespace)" 
              [class.list-group-item-secondary]="namespace.id === userPreference.namespace.id" 
              class="list-group-item d-flex justify-content-between align-items-center">
              {{namespace.name}}
            <span class="">{{namespace.id}}</span>
          </li>
      </ul>            
		</ng-container>
		<ng-template #loading>
			<div class="progress">
				<div class="progress-bar bg-primary" role="progressbar" style="width: 100%">Loading...</div>
			</div>
		</ng-template>
	</div>
	<grn-context-menu [content]="contextMenuContent" (selected)="selectedItem($event)"></grn-context-menu>
</div>

