<div class="container mt-4 mb-3">
  
  <div class="card mt-3">
      <div class="card-header">
          Dropbox Authentication
      </div>
      <div class="card-body card-text">
          Please wait for access-granted confirmation.
      </div>
  </div>

</div>