<div class="container mt-4 mb-3">
  <div class="container">
    <!-- Namespace Details  -->
    <div class="navbar navbar-light rounded bg-primary my-4">
      <span class="nav-text">Namespace Details Id :          
          <span class="">{{ namespaceId }}</span>
      </span>     
    </div>
    <!-- has-success -->
    <form [formGroup]="namespaceForm" (ngSubmit)="onSubmit()" *ngIf="editMode">
      <div class="form-group row" [class.has-warning]="formErrors.name">
        <label for="name" class="col-sm-2 col-form-label small">Name</label>
        <div class="col-sm-10">
          <input formControlName="name" type="text" class="form-control form-control-success" id="name">
          <div class="form-control-feedback small" *ngIf="formErrors.name">{{formErrors.name}}</div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <button type="reset" class="btn" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-primary ml-2" [disabled]="!namespaceForm.valid || namespaceForm.pristine">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
