<div class="modal-body">
	<nav class="nav flex-column bg-faded">
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('GRAPH')" *ngIf="wordEntity.topic.id">	
        <i class="fa fa-code-fork fa-fw"></i>Siblings Graph</a>				
<!--         
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('MAP')" *ngIf="wordEntity.topic.id">
      <i class="fa fa-map-o fa-fw"></i>Location on Map</a>			
       -->
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('SYNC')">
			<i class="fa fa-undo fa-fw"></i>Sync Audio</a>
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('DELETE')">
			<i class="fa fa-times fa-fw"></i>Delete</a>
	</nav>
</div>