<div class="container mt-4 mb-3">
  <div class="container">


    <div class="">        
      <grn-audio-fab *ngFor="let audioFile of audioFiles$ | async" [name]="audioFile.name" [url]="audioFile.url" class="mr-1"></grn-audio-fab>
    </div>

    <!-- Word Details  -->
    <div class="navbar navbar-light rounded bg-primary my-4">
      <span class="nav-text">Details</span>
    </div>

    <ng-container *ngIf="!editMode && wordEntity | async as wordEntity">

      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="font-weight-bold">{{wordEntity.name}}</span>
          </li>
          <li class="list-group-item has-warning">
            <small class="mr-2">Translation : </small>{{wordEntity.translation}}
          </li>
          <li class="list-group-item">
            <small class="mr-2">Sentence :</small>
            <p class= "mt-2 ml-2 sentenceView" innerHtml="{{wordEntity.sentence | brake }}"></span>
          </li>
          <li class="list-group-item">
            <i class="fa fa-volume-off mr-2"></i>{{wordEntity.transcription}}
          </li>
        </ul>
      </div>

      <div class="mt-2 mb-4">
        <button type="reset" class="btn" (click)="onEdit()">Edit</button>
      </div>

    </ng-container>


    <!-- has-success -->

    <form [formGroup]="wordForm" (ngSubmit)="onSubmit()" *ngIf="editMode && wordEntity | async;let wordEntity">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label small">Sys Id</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{wordEntity.id}}</p>
        </div>
      </div>

      <div class="form-group row" [class.has-warning]="formErrors.name">
        <label for="name" class="col-sm-2 col-form-label small">Name</label>
        <div class="col-sm-10">
          <input formControlName="name" type="text" class="form-control form-control-success" id="name" readonly >
          <div class="form-control-feedback small" *ngIf="formErrors.name">{{formErrors.name}}</div>
        </div>
      </div>

      <div class="form-group row" [class.has-warning]="formErrors.translation">
        <label for="translation" class="col-sm-2 col-form-label small">Translation</label>
        <div class="col-sm-10">
          <input formControlName="translation" type="text" class="form-control form-control-warning" id="translation">
          <div class="form-control-feedback small" *ngIf="formErrors.translation">{{formErrors.translation}}</div>
        </div>
      </div>

      <div class="form-group row" [class.has-warning]="formErrors.sentence">
        <label for="sentence" class="col-sm-2 col-form-label small">Sentence</label>
        <div class="col-sm-10">
          <textarea formControlName="sentence" class="form-control" id="sentence" rows="5"></textarea>
          <div class="form-control-feedback small" *ngIf="formErrors.sentence">{{formErrors.sentence}}</div>
        </div>
      </div>

      <div class="form-group row" [class.has-warning]="formErrors.transcription">
        <label for="transcription" class="col-sm-2 col-form-label small">Transcription</label>
        <div class="col-sm-10">
          <input formControlName="transcription" type="text" class="form-control form-control-warning" id="transcription">
          <div class="form-control-feedback small" *ngIf="formErrors.transcription">{{formErrors.transcription}}</div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <button type="reset" class="btn" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-outline-primary ml-2" [disabled]="!wordForm.valid || wordForm.pristine">Save</button>
        </div>
      </div>

    </form>

    <ng-container *ngIf="!editMode && wordEntity | async as wordEntity">
      <!-- Siblings  -->
      <div class="navbar navbar-light rounded bg-primary my-4">
        <span class="nav-text">Siblings</span>
      </div>
      <!-- Sibling autocomplete -->
      <grn-siblings-autocomplete (result)="createSibling($event)"></grn-siblings-autocomplete>
      <ul class="list-group my-4">
        <li *ngFor="let sibling of siblings | async" class="list-group-item list-group-item-action" (click)="openContextMenu(sibling)">
          {{ sibling.name }}
        </li>
      </ul>

      <!-- Images  -->
      <div class="navbar navbar-light rounded bg-primary my-4">
        <span class="nav-text">Video & Images</span>
      </div>
      <grn-files-view [files]="storageFiles$ | async"></grn-files-view>
      <grn-upload-file [wordEntity]="wordEntity"></grn-upload-file>

      <!-- Map Position -->
<!-- 
      <div class="navbar navbar-light rounded bg-primary my-4">
        <span class="nav-text">Map Position</span>
      </div>
      <grn-map-widget [lat]="wordCoordinate.latitude" [lng]="wordCoordinate.longitude" (position)="positionChanged($event)"
        *ngIf="mapWidgetVisible"></grn-map-widget>
 -->

    </ng-container>

    <div class="mt-3 mb-3 ml-0" *ngIf="!editMode">
      <a class="btn btn-outline-primary" (click)="showActionsContextMenu()" role="button">...</a>
    </div>
  </div>

  <!-- Siblings  -  Context Menu  -->
  <grn-context-menu [content]="contextMenuContent" (selected)="selectedItem($event)"></grn-context-menu>

  <grn-context-menu #action [content]="actionContextMenuContent" (selected)="selectedActionItem($event)"></grn-context-menu>

</div>
