<div class="container mt-4 mb-3">
  <div class="container">
    <!-- has-success -->
    <form [formGroup]="wordForm" (ngSubmit)="onSubmit()">   
      <div class="form-group row" [class.has-warning]="formErrors.name">
        <label for="name" class="col-sm-2 col-form-label small">Name</label>
        <div class="col-sm-10">
          <input formControlName="name" type="text" class="form-control form-control-success" id="name">
          <div class="form-control-feedback small" *ngIf="formErrors.name">{{formErrors.name}}</div>
        </div>
      </div>
      <div class="form-group row" [class.has-warning]="formErrors.translation">
        <label for="translation" class="col-sm-2 col-form-label small">Translation</label>
        <div class="col-sm-10">
          <input formControlName="translation" type="text" class="form-control form-control-warning" id="translation">
          <div class="form-control-feedback small" *ngIf="formErrors.translation">{{formErrors.translation}}</div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <button type="reset" class="btn" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-outline-primary ml-2" [disabled]="!wordForm.valid || wordForm.pristine">Create</button>
        </div>
      </div>

    </form>
    <!-- Map Position -->
<!--     
    <div class="navbar navbar-light rounded bg-primary my-4">
      <span class="nav-text">Map Position</span>
    </div>
    <grn-map-widget (position)="positionChanged($event)"></grn-map-widget>
 -->
  </div>
</div>
