<div class="container mt-4">

    <div class="row justify-content-center" *ngIf="!isRegistrationSuccess">
        <div class="col-12 col-md-6">
            <form class="form" role="form" (ngSubmit)="register()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" [(ngModel)]="firstName">
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" [(ngModel)]="lastName">
                </div>
 
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" name="login" id="login" placeholder="Your Login" [(ngModel)]="login">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your password" [(ngModel)]="password">
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Your e-mail" [(ngModel)]="email">
                </div>


                <button type="submit" class="btn btn-primary main-btn">Register</button>
            </form>
            <p></p>
        </div>

    </div>

    <div class="row justify-content-center" *ngIf="isRegistrationSuccess">
        <div class="col-12 col-md-6" >
            <div class="alert alert-succcess">
                <p>Registration last step.</p>
                <p>>We just sent you a confirmation email. Please activate your account.</p>
            </div>
        </div>

    </div>
</div>