<div class="container mt-4">
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-6">
            <h4 class="modal-title">Logout... please wait</h4>
        </div>
    </div>
</div>