<div id="search-form">
  <form class="form-inline mb-4">
    <div class="input-group mb-2">
      <input #search name="search" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search..." [(ngModel)]="searchText" (keyup)="onChanged($event)">
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" aria-label="Close" *ngIf="search.value" (click)="onClear($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </form>
</div>
