<div class="modal-body">
	<nav class="nav flex-column bg-faded">
		<a class="nav-link" data-dismiss="modal" (click)="activeModal.close('DELETE')">
			<i class="fa fa-pencil fa-fw"></i>Delete</a>
	</nav>
</div>