<div *ngFor="let file of files; index as i;first as first" class="mb-3">
    <img src="{{file.url}}" class="img-fluid rounded mx-auto d-block" (click)="openContextMenu($event)"/>
</div>  
  
<grn-context-menu [content]="contextMenuContent" (selected)="selectedItem($event)"></grn-context-menu>