.modal-dialog {
    bottom: 0px; 
    width: 100%; 
    position: fixed;
    margin: 0px;
}

.card-title{
  display: inline;
  background-color: yellow;
}

.card-footer {
  background-color: white;
  border-top: 1px solid rgb(218, 16, 1) !important;
}

.card {
  border: 1px solid rgb(218, 16, 1) !important;
}