<div class="container mt-4 mb-3" *ngIf="pageable$ | async as page; else loading">


  <!-- Pagination : Top -->
  <div class="row">

    <nav class="col-12">
      <ul class="pagination justify-content-center">
        <li *ngIf="hasPrevious(page) as previous" class="page-item" [class.disabled]="!previous.has">
          <a class="page-link" routerLink="/lookback/{{previous.id}}">
            &laquo;
          </a>
        </li>

        <li *ngFor="let pag of buildPagination(page)" class="page-item" [class.active]="page.number == pag">
          <a class="page-link" routerLink="/lookback/{{pag}}">
            {{pag}}
          </a>
        </li>

        <li *ngIf="hasNext(page) as next" class="page-item" [class.disabled]="!next.has">
          <a class="page-link" routerLink="/lookback/{{next.id}}">
            &raquo;
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Tiles per page -->
  <div class="row">  
    <div class="col-12 col-md-8 offset-md-2">
      <div *ngFor="let file of page.content">
        <div class="card mb-5 mx-3" (click)="onSelectedItem(file)">
          <img class="card-img-top img-fluid" src="{{file.url}}">
          <div class="card-footer">
            <h5 class="card-title">{{file.wordName}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination : Bottom -->
  <div class="row">
    <nav class="col-12">
      <ul class="pagination justify-content-center">
        <li *ngIf="hasPrevious(page) as previous" class="page-item" [class.disabled]="!previous.has">
          <a class="page-link" routerLink="/lookback/{{previous.id}}">
            &laquo;
          </a>
        </li>

        <li *ngFor="let pag of buildPagination(page)" class="page-item" [class.active]="page.number == pag">
          <a class="page-link" routerLink="/lookback/{{pag}}">
            {{pag}}
          </a>
        </li>

        <li *ngIf="hasNext(page) as next" class="page-item" [class.disabled]="!next.has">
          <a class="page-link" routerLink="/lookback/{{next.id}}">
            &raquo;
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <grn-scroll-top></grn-scroll-top>

</div>

<!-- else Loading  -->
<ng-template #loading>
  <div class="progress">
    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%">Please wait...</div>
  </div>
</ng-template>