<div class="row" id="map-widget-data">
  <div class="col mb-2">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-secondary" type="button" [class.btn-outline-secondary]="isFile" (click)="toggleSource()">{{ isFile ? 'FILE': 'URL' }}</button>
      </div>
      <div class="custom-file" *ngIf="isFile">
        <input type="file" class="custom-file-input" id="fsFile" (change)="onFileChange($event)"/>
        <label class="custom-file-label" for="fsFile">{{fileName}}</label>
      </div>
      <input type="text" *ngIf="!isFile" class="form-control" placeholder="{{fileNameUri || 'Image/Video file uri'}}" [(ngModel)]="fileNameUri"  (input)="onFileUriChange()"/>
      
      <div class="input-group-append">
          
          <button *ngIf="isValidFile" type="submit" (click)="onSubmit()" [disabled]="loading" class="btn btn-outline-success"
            type="button" type="submit">Upload
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
      </button>
      </div>
    </div>
  </div>
</div>