
<div class="container mt-4 mb-3">
   
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-success" *ngSwitchCase="true">
                    <span *ngIf="account"> You are logged in as user "{{account.login}}". </span>
                </div>

                <div *ngSwitchCase="false" class="mt-4">
                    <a class="btn btn-outline-primary mx-auto main-btn" routerLink="/login">Login</a>
                    <div class="alert alert-success mt-4">   
                        <p class="mx-auto">You don't have an account yet?</p>
                        <a class="btn btn-success mx-auto main-btn" routerLink="/register">Register</a>
                    </div>       
                    <div class="alert alert-success mt-4">   
                        <p >Did you forget your password? </p>
                        <a class="btn btn-outline-success mx-auto main-btn" routerLink="/reset/request">Reset</a>                      
                    </div>                               
                </div>
            </div>
        </div>
    </div>   
           
</div>