
button {

    z-index: 1000;
    font-size: 1rem;

    line-height: 1.25 !important;
    background:  rgba(250, 250, 250, 1);
    border: 1px solid rgba(0, 0, 0, 0.8); 
    
    color: rgba(0, 0, 0, 0.85); 

    &.play {
        animation: background-fx 0.5s;
    }

    @keyframes background-fx {
        0% {
            background:  #ffffff;
        }       
        65% {
            background:  #0275d8;
            opacity: 0.85;
        }
        100% {
            background:  #ffffff;
        }
    }
}