<div class="scroll-top rounded mb-3 mr-4">
  <a href="javascript: document.body.scrollTop = document.documentElement.scrollTop = 0;"> 
    <i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i> 
  </a>
</div>