
.scroll-top {

    position: fixed;   
    bottom: 0;
    right: 0;
    z-index: 1030;

    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.15);  
    
    width: 40px;
    height: 40px;

    a {
        width: 100%;
        height: 100%;
        display: block;
        display: inline-block;
        text-align: center;
        padding: 3px;

        i {           
            vertical-align: middle;
        }
    }

}