
<!-- navbar-dark  -->

<nav class="navbar navbar-toggleable-md navbar-light bg-primary">

    <div class="navbar-header">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand pl-2" href="#">Garner</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse" [ngSwitch]="isAuthenticatedState | async">
      <ul class="nav navbar-nav" data-toggle="collapse" data-target="#navbar">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/"><i class="fa fa-home fa-fw"></i>Home
          </a>
        </li>

        <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/namespace"><i class="fa fa-folder-open fa-fw"></i>Namespace
          </a>
        </li>
        <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/word"><i class="fa fa-list fa-fw"></i>Words List
          </a>
        </li>
        <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/lookback"><i class="fa fa-object-ungroup fa-fw"></i>Look Back
          </a>
        </li>
        <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/topic" ><i class="fa fa-server fa-fw"></i>Topics List
          </a>
        </li>
<!-- 
        <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/map" ><i class="fa fa-map-o fa-fw"></i>Words Map
          </a>
        </li>
 -->
        <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/preferences"><i class="fa fa-wrench fa-fw"></i>Preferences
          </a>
        </li>
        <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout
          </a>
        </li>

        <li *ngSwitchCase="false" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login"><i class="fa fa-sign-in fa-fw"></i>Login
          </a>
        </li>
      </ul>
    </div>
</nav>
