<div class="row" id="map-wdiget-buttons">
    <div class="col mb-2">
        <button *ngIf="!isEditMode" (click)="onChangePosition($event)" type="reset" class="btn m-1">Change / Set</button>
        <button *ngIf="isEditMode"  (click)="onCancel($event)" type="reset" class="btn m-1 btn-secondary">Cancel</button>
        <button *ngIf="isEditMode" (click)="onSave($event)" type="submit" class="btn m-1">Save</button>
    </div>
</div>

<div class="row" id="map-widget-data">
    <div class="col mb-2">
        <div class="input-group mb-1">
            <div class="input-group-prepend w-50">
              <span class="input-group-text w-100 text-uppercase">Latitude</span>
            </div>
            <input type="number" step="1" id="latitude" class="form-control text-center" [value]="lat | number:'.5-8'" readonly />
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-50">
              <span class="input-group-text w-100 text-uppercase">Longtitude</span>
            </div>
            <input type="number" id="longtitude" class="form-control text-center" [value]="lng | number:'.5-8'" readonly />
        </div>        
    </div>
</div>

<div #map class="map-container"></div>
